###################################################
# Topic 127 Version 3 Enterprise Practical Lab
# Environment Configuration
###################################################

############################
# MQTT
############################

MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_TOPIC=topic127/cleanroom

############################
# InfluxDB
############################

INFLUX_HOST=influxdb
INFLUX_PORT=8086
INFLUX_USERNAME=admin
INFLUX_PASSWORD=admin12345
INFLUX_ORG=topic127
INFLUX_BUCKET=cleanroom
INFLUX_TOKEN=topic127-token

############################
# Grafana
############################

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin12345

############################
# OPC-UA
############################

OPCUA_HOST=0.0.0.0
OPCUA_PORT=4840

############################
# Modbus
############################

MODBUS_HOST=0.0.0.0
MODBUS_PORT=5020

############################
# Machine Learning
############################

SKLEARN_MODEL=models/anomaly_model.pkl
TF_MODEL=models/tensorflow_model.keras

############################
# Logging
############################

LOG_LEVEL=INFO

############################
# Reports
############################

REPORT_DIR=reports

############################
# Security
############################

RECIPE_FILE=data/approved_recipe.json
RECIPE_HASH=data/approved_recipe.sha256
