################################################
# Python
################################################

venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

################################################
# Environment
################################################

.env
!.env.example

################################################
# Logs
################################################

logs/*
!logs/.gitkeep

################################################
# Reports
################################################

reports/*
!reports/.gitkeep

################################################
# Models
################################################

models/*
!models/.gitkeep

################################################
# IDE
################################################

.vscode/
.idea/

################################################
# OS
################################################

.DS_Store
Thumbs.db

################################################
# Runtime
################################################

.runtime/
data/backups/